<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ GenerateSemataObjectModel Processor="GenerateSemataObjectModel" #>

<# GenerateObjectModel("OrderProcessing.ds", "CustomerMaintenance"); #>
