<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ GenerateSemataObjectModel Processor="GenerateSemataObjectModel"#>

<# GenerateObjectModelViews("OrderProcessing.ds", "CustomerMaintenance", "CustomerMaintenance"); #>
