<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ GenerateSemataObjectModel Processor="GenerateSemataObjectModel" #>
<# OutputUsingDirectives(); #>
using System.ComponentModel;
<# GenerateObjectModel("OrderProcessing.ds", "CustomerMaintenance"); #>
