<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ output extension=".cs" #>
<#@ DataStoreCodeGenerator Processor="Semata.CodeGeneratorDirectiveProcessor" #>
<# GenerateObjectModelViews("OrderProcessing.ds", "OrderProcessing", "OrderProcessing"); #>
